@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --bs-primary: #7B5CFB;
  --bs-primary-rgb: 123, 92, 251;
  --bs-font-sans-serif: "Poppins", sans-serif;
}

body {
  font-family: var(--bs-font-sans-serif);
}
