/* CSS */
.carre {
width: 50px;
height: 50px;
background-color: orange;
position: relative;
animation: deplacement 2s infinite alternate;
}
@keyframes deplacement {
from {
left: -2px;
}
to {
left: 500px;
}
}

.carre1 {
width: 50px;
height: 50px;
background-color: blue;
position: relative;
animation: deplacement 2s infinite alternate;
}


.roue {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    border: 7px dotted #000;
    animation: rotation 6s linear infinite;
    }
    @keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }

.roue1 {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    border: 7px dotted #000;
    animation: rotation 6s linear infinite;
    }
    @keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }

.loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        }
        @keyframes spin {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
        }
 .clignote {
            animation: clignotement 1s infinite;
            }
            @keyframes clignotement {
            0% {
            opacity: 1;
            }
            50% {
            opacity: 0;
            }
            100% {
            opacity: 1;
            }
            } 

                
.degrade {
            width: 100%;
            height: 200px;
            background: linear-gradient(270deg, #ff6ec4, #7873f5);
            background-size: 400% 400%;
            animation: degradeAnime 8s ease infinite;
           }
    @keyframes degradeAnime {
                    0% {
                    background-position: 0% 50%;
                    }
                    50% {
                    background-position: 100% 50%;
                    }
                    100% {
                    background-position: 0% 50%;
                    }                
 .zone {
          position: relative;
          width: 300px;
          height: 300px;
          border: 1px solid #ccc;
                      }
                      
                      .zone {
                        position: relative;
                        width: 300px;
                        height: 300px;
                        border: 1px solid #ccc;
                      }
   
.carte-conteneur {
perspective: 1000px;
}
.carte {
width: 40px;
height: 70px;
position: relative;
transition: transform 0.6s;
transform-style: preserve-3d;
}
.carte-conteneur:hover .carte {
transform: rotateY(180deg);
}
.face {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.avant {
background-color: #bbb;
color: black;
}
.arriere {
background-color: dodgerblue;
color: white;
transform: rotateY(180deg);
}                             
